.container_header{
    display: flex;
    justify-content: space-between;
    height: 55px;
}
.tittle_container{
    width: 45%;
}
h1{
    /*font-family: 'Dancing Script', cursive;*/
    font-family: 'Kenia', sans-serif;
    color: #fff;
    font-size: 24px;
    padding-left: 5px;
    padding-bottom: 5px;
    margin-bottom: 5px;
}

.logo_container{
    width: 55%;
    display: flex;
    justify-content: flex-start;
}
.logo{
    margin-top: 15px;
    width: 25px;
    height: 25px;
    color: #24a5f3;
}