<ion-content>
  
  <ion-textarea label="Twitstear" labelPlacement="floating" [counter]="true" placeholder="Que esta pasando" rows="5"  maxlength = "140"></ion-textarea>
  <div class="container_button">
    <div>
      <ion-button fill="clear">
        <ion-icon slot="icon-only" name="image-outline"></ion-icon>
        </ion-button>
        <ion-button shape="round" color="azultwitter">
          <ion-icon slot="end" name="pencil-outline"></ion-icon>
            <ion-text>
              <span class="post-text">Postear</span>
            </ion-text>
          </ion-button>
    </div>

    </div>
</ion-content>


<!--

  [(ngModel)]="postFeedback.explanation"
-->