.container_textArea{
    border-radius: 20px;
    outline: #555;
    padding: 10px;
}

.container_button{
    display: flex;
    justify-content: end;
}

span{
    font-family: 'Kenia', sans-serif;
    font-size: 15px;
}