<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <app-header [title]="HEADER_TITLE"/>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  
<ion-content>
	<ion-card>
	<ion-item color='azultwitter'>
	<ion-avatar>
    <img  *ngIf='status===true' class="img_profile"src="../../../assets/default_pic.png">
	</ion-avatar>
	<ion-label style='color: white; text-align: center'><h1><strong>Nombre usuario</strong></h1></ion-label>
	</ion-item>
		<h2 style='text-align: center'><em>Username</em></h2>
		<ion-item>
		<h4><strong>Following: </strong>###</h4>
		<hr/>
		<h4><strong>Followers: </strong>###</h4>
		</ion-item>
		<h4 style='text-align: center;  '><strong>Posts: </strong>###</h4>
		<hr/>
		<ion-button expand='block'  color='azultwitter'><ion-icon size=large name="person-add" ></ion-icon></ion-button>
		<hr/>
	</ion-card>
	<!--<app-post *ngFor="let m of myPosts" [data]="m" [loggeduser]="id"></app-post>-->
</ion-content>
</ion-content>
