<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home" href="/pages/home">
      <ion-icon aria-hidden="true" name="skull-outline"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="search" href="/pages/search">
      <ion-icon aria-hidden="true" name="search-outline"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="profile" href="/pages/profile">
      <ion-icon aria-hidden="true" name="person-outline"></ion-icon>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
