<ion-card no-padding>

  <ion-item>
    <h3>@username</h3>
  </ion-item>

  <img src="" alt="" style="width: 100%">

  <ion-card-content >
  	<h1 *ngIf="" style='color: black'></h1>
    <h2 >Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa et facilis aliquam ex itaque quia repellat possimus ab dolorum nostrum nihil animi ea tempora vel mollitia amet voluptates, dicta deleniti.</h2>
    <hr/>
  </ion-card-content>
  <hr/>

  <ion-row >
    <ion-col>
      <ion-button fill="clear" expand='block' >
        <ion-icon slot="icon-only" style='padding-right:5px' name="heart-outline" ></ion-icon>
        <p>Like</p>
      </ion-button>
    </ion-col>
    <ion-col>
      <ion-button fill="clear" expand='block' >
        <ion-icon slot="icon-only" style='padding-right:5px' name="chatbubble-ellipses-outline"></ion-icon>
        <p>Comments</p>
      </ion-button>
    </ion-col>
  </ion-row>
</ion-card>
